name: Test

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]
    workflow_dispatch:

jobs:
    go-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: npm run test:go

    wasm-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              name: Install Node
              with:
                  node-version-file: ".node-version"

            - name: Install TinyGo
              run: |
                  wget -P ${{ runner.temp }} https://github.com/tinygo-org/tinygo/releases/download/v0.40.1/tinygo_0.40.1_amd64.deb
                  yes | sudo dpkg -i ${{ runner.temp }}/tinygo_0.40.1_amd64.deb

            - run: npm run build
            - run: npm pack

            - name: Upload
              uses: actions/upload-artifact@v6
              with:
                  name: build
                  path: |
                      *.wasm
                      *.tgz

    wasm-test:
        name: Run ${{ matrix.runtime }} tests on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        needs: wasm-build
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                runtime: [node, deno, bun]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build

            - uses: actions/setup-node@v6
              if: matrix.runtime == 'node'
              with:
                  node-version-file: ".node-version"
            - uses: denoland/setup-deno@v2
              if: matrix.runtime == 'deno'
              with:
                  deno-version: 2.x
            - uses: oven-sh/setup-bun@v2
              if: matrix.runtime == 'bun'
              name: Install bun

            - run: npm run test:${{ matrix.runtime }}
