name: Test

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              name: Install Node
              with:
                  node-version-file: ".node-version"

            - run: |
                  wget -P ${{ runner.temp }} https://github.com/tinygo-org/tinygo/releases/download/v0.34.0/tinygo_0.34.0_amd64.deb
                  yes | sudo dpkg -i ${{ runner.temp }}/tinygo_0.34.0_amd64.deb

            - name: Build
              run: scripts/build.sh
              shell: bash

            - run: npm pack
            - name: Upload
              uses: actions/upload-artifact@v5
              with:
                  name: build
                  path: |
                      gofmt.js
                      gofmt.wasm
                      *.tgz

    deno-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v4
            - uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./

            - uses: denoland/setup-deno@v1
              name: Install Deno
              with:
                  deno-version: v1.x

            - run: deno test test_deno --allow-read

    node-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v4
            - uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./

            - uses: actions/setup-node@v4
              name: Install Node
              with:
                  node-version-file: ".node-version"

            - run: node --test test_node/node.test.js

    bun-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v4
            - uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./

            - uses: oven-sh/setup-bun@v2
              name: Install bun

            - run: bun test test_bun
